# Summer Analytics 2020 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [72]:
import numpy as np
import pandas as pd

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from this url 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [73]:
chipo = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

### 3) See the first 10 entries

In [74]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 4) What is the number of observations in the dataset?

In [75]:
chipo.shape[0]

4622

### 5) What is the number of columns in the dataset?

In [76]:
chipo.shape[1]

5

### 6) Print the name of all the columns.

In [77]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 7) Which was the most-ordered item?

In [78]:
chipo.item_name = chipo.item_name.str.replace('-', ' ')
quantities = {}
for item in chipo.item_name.unique():
    quantities[item] = chipo[chipo.item_name == item].quantity.sum()
items = list(quantities.keys())
quantities = list(quantities.values())
items[quantities.index(np.max(quantities))]

'Chicken Bowl'

### 8) For the most-ordered item, how many items were ordered?

In [79]:
np.max(quantities)

761

### 9) What was the most ordered item in the choice_description column?

In [80]:
chipo.choice_description.describe().top

'[Diet Coke]'

### 10) How many items were ordered in total?

In [81]:
np.sum(quantities)

4972

### 11) Turn the item price into a float

In [82]:
chipo.item_price = chipo.item_price.str.replace('$', '').astype(float)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [92]:
revenue = chipo.quantity * chipo.item_price
revenue.sum()

39237.02

### 13) How many orders were made in the period?

In [86]:
chipo.order_id.nunique()

1834

### 14) What is the average revenue amount per order?

In [94]:
revenue.sum() / chipo.order_id.nunique()

21.39423118865867

### 15) How many different items are sold?

In [95]:
chipo.item_name.nunique()

47