This tutorial has been taken from **[Data School](https://www.youtube.com/channel/UCnVzApLJE2ljPZSeQylSEyg)**.<br>
The link for the tutorial video can be found [here](https://youtu.be/hSrDViyKWVk).

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('http://bit.ly/imdbratings')

In [3]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [6]:
movies.describe() # shows the statistics on columns with numerical values

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [7]:
movies.shape

(979, 6)

In [8]:
movies.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [9]:
type(movies)

pandas.core.frame.DataFrame

'movies' is a dataframe, it has some methods and some attributes. <br>
Methods must have parentheses, while attributes do not need have parentheses. <br>
Methods can be considered as some kind of actions. <br>
Attributes can be considered as some kind of descriptions. <br>

In [12]:
movies.describe(include = ['object']) # even some attributes may use parentheses
# for passing additional arguments
# Like in this example, only the series with datatype 'object' (like strings) will be described

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,Dracula,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

Some useful **shortcuts**:
1. Use tab after a dataframe (object in general) to see all its attributes and methods (indistinguishable though).
2. Use Shift + Tab to see the description of any object, function, variable etc. Press multiple times for more detailed versions/longer duration versions.