This tutorial has been taken from **[Data School](https://www.youtube.com/channel/UCnVzApLJE2ljPZSeQylSEyg)**.<br>
The link for the tutorial video can be found [here](https://youtu.be/gnUKkS964WQ).

In [1]:
import pandas as pd

In [9]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [10]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [11]:
ufo.shape

(18241, 5)

In [12]:
# drop method
ufo.drop('Colors Reported', axis = 1, inplace = True)
# axis = 1 specifies that a column has to be removed
# inplace = True specifies that the changes have to be inplace,
# i.e., the changes must be made into the same dataframe

In [13]:
ufo.head()

                   City Shape Reported State             Time
0                Ithaca       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro          OTHER    NJ  6/30/1930 20:00
2               Holyoke           OVAL    CO  2/15/1931 14:00
3               Abilene           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair          LIGHT    NY  4/18/1933 19:00

In [14]:
# drop multiple methods
# pass a list of strings containing column names
ufo.drop(['City', 'State'], axis = 1, inplace = True)

In [15]:
# For dropping rows,
ufo.drop([0, 1], axis = 0, inplace = True)
# list of labels/indices is passed as first argument
# the list contains all the rows that are to be dropped
# axis = 0 specifies that rows are to be dropped
# by default, axis is equal to 0, so we need not specify
# axis = 0 explicitly

In [16]:
ufo.head()

  Shape Reported             Time
2           OVAL  2/15/1931 14:00
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00
5           DISK  9/15/1934 15:30
6         CIRCLE   6/15/1935 0:00

In [17]:
ufo.shape

(18239, 2)